<div class="jumbotron mt-4 py-5 text-center shadow-sm">
  <JumbotronComponent.jumbotron/>
</div>

<div class="mt-5">
  <ArticleOneComponent.article/>
</div>

<div class="mt-5">
  <ArticleTwoComponent.article/>
</div>